


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->



    <bean id="dev" class="com.nethmal.Dev">
        <property name="com" ref="destop1"/>
    </bean>
    <bean id="lap1" class="com.nethmal.Laptop">
    </bean>
    <bean id="destop1" class="com.nethmal.Desktop">
    </bean>


</beans>